
.content {
  position: relative;
  margin-left: 260px;
  min-height: 100vh;
}

.content-header {
  padding: 20px 25px;
  position: relative;
}

.content-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  border-radius: 4px;

  svg {
    width: 20px;
    height: 20px;
    stroke-width: 2.5px;
  }
}

.content-body {
  padding: 20px 35px;

  .nav { display: flex; }

  .nav-link {
    display: block;
    padding: 8px 20px;
    border: 1.5px solid transparent;
    border-radius: 6px;

    + .nav-link { margin-left: 10px; }
  }
}

.content-label {
  display: block;
  margin-bottom: 15px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
