
.content {
  margin-left: 260px;
  min-height: 100vh;
  padding: 40px;

  .nav { display: flex; }

  .nav-link {
    display: block;
    padding: 5px 15px;
    background-color: $gray-200;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $gray-600;

    &:hover,
    &:focus {
      border-color: $gray-400;
      background-color: $gray-100;
      box-shadow: 0 0 0 .5px $gray-400;
    }

    + .nav-link { margin-left: 10px; }

    &.active {
      background-color: #fff;
      border-color: $gray-500;
      color: $gray-800;
      box-shadow: 0 0 0 .5px $gray-500;
    }
  }
}

.content-label {
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $gray-500;
}
