// Boostrap Colors
$gray-100:                          #f7f9fd;
$gray-200:                          #e9edf7;
$gray-300:                          #dce4f2;
$gray-400:                          #c8d2eb;
$gray-500:                          #96a1ba;
$gray-600:                          #7586a7;
$gray-700:                          #3a4c70;
$gray-800:                          #27385c;
$gray-900:                          #142341;

// Skin red colors
$color-01:                          #2D4059;
$color-02:                          #EA5455;
$color-03:                          #F07B3F;
$color-04:                          #FFD460;

// Skin indigo colors
$color-05:                          #4A4DE7;
$color-06:                          #7EA6F4;
$color-07:                          #A0E4F1;
$color-08:                          #F1FAFB;

// Skin gradient colors
$color-09:                          #04009A;
$color-10:                          #77ACF1;
$color-11:                          #3EDBF0;
$color-12:                          #F0EBCC;

// Fonts
$font-family-base:                  'Public Sans', sans-serif;
$font-size-base:                    .875rem;

// Links
$link-decoration:                   none;

// Interactions
$transition-time-base:              0.3s;
