// Boostrap Colors
$gray-900:                            #14274E;
$gray-800:                            #223458;
$gray-700:                            #394867;
$gray-600:                            #627293;
$gray-500:                            #9aa6be;
$gray-400:                            #cacfd9;
$gray-300:                            #d8dee6;
$gray-200:                            #e9ebf0;
$gray-100:                            #f7f9fc;

// Skin red colors
$color-01:                          #1f2d3e;
$color-02:                          #fd393a;
$color-03:                          #fb7631;
$color-04:                          #fec631;

// Skin indigo colors
$color-05:                          #4A4DE7;
$color-06:                          #7EA6F4;
$color-07:                          #A0E4F1;
$color-08:                          #F1FAFB;

// Skin gradient colors
$color-09:                          #04009A;
$color-10:                          #77ACF1;
$color-11:                          #3EDBF0;
$color-12:                          #F0EBCC;

// Fonts
$font-family-base:                  'Public Sans', sans-serif;
$font-size-base:                    .875rem;

// Links
$link-decoration:                   none;

// Interactions
$transition-time-base:              0.3s;

// Sizes
$sidebar-width:                     260px;
