// Boostrap Colors
$gray-100:                          #f7f9fd;
$gray-200:                          #e9edf7;
$gray-300:                          #dce4f2;
$gray-400:                          #c8d2eb;
$gray-500:                          #96a1ba;
$gray-600:                          #7586a7;
$gray-700:                          #3a4c70;
$gray-800:                          #27385c;
$gray-900:                          #142341;

// Fonts
$font-family-base:                  'Archivo', sans-serif;
$font-size-base:                    .9125rem;

// Links
$link-decoration:                   none;
