.skin-base {
  background-color: #f7f9fd;

  .sidebar {
    background-color: #fff;
    box-shadow: 1px 0 1px rgba($gray-300, 0.25),
                2px 0 2px rgba($gray-300, 0.20),
                4px 0 4px rgba($gray-300, 0.15),
                8px 0 8px rgba($gray-300, 0.10),
                16px 0 16px rgba($gray-300, 0.05);

    hr { background-color: $gray-200; }
  }

  .sidebar-logo span {
    background-color: $dark;

    &::before,
    &::after { background-color: rgba($gray-700, .75); }
  }

  .sidebar-logo-text {
    color: $dark;
    span { color: $gray-700; }
  }

  .search-body {
    background-color: $gray-100;

    svg { color: $gray-600; }

    .form-control::placeholder {
      color: $gray-500;
    }

    &.onfocus {
      background-color: #fff;
      border-color: $gray-600;
      box-shadow: 0 1px 1px rgba($gray-300, 0.25),
                  0 2px 2px rgba($gray-300, 0.20),
                  0 4px 4px rgba($gray-300, 0.15);
    }

    &.onhover {
      background-color: rgba($gray-200, .6);
    }
  }

  .nav-sidebar {
    .nav-item {
      &.active .nav-link {
        color: $dark;

        svg {
          color: $dark;
          fill: rgba($dark, .12);
        }
      }
    }

    .nav-link {
      color: $gray-600;

      &:hover,
      &:focus {
        color: $dark;
      }

      &.active {
        color: $dark;

        svg {
          color: $dark;
          fill: rgba($dark, .12);
        }
      }
    }

    &.style-one {
      .nav-item.active {
        .nav-link {
          color: $dark;
          background-color: $gray-200;

          svg { fill: none; }
        }
      }

      .nav-link {
        color: $gray-700;

        &:hover,
        &:focus {
          background-color: $gray-100;
          color: $gray-700;
        }

        &.active {
          background-color: $gray-200;
          svg { fill: none; }
        }
      }
    }

    &.style-two {
      .nav-link::before,
      .sub-link::before {
        background-color: $dark;
      }
    }

    &.style-three {
      .nav-link::before,
      .nav-link:not(.with-sub)::after,
      .sub-link::before {
        background-color: $dark;
      }
    }

    &.style-two,
    &.style-three {
      .nav-sub::before { border-color: rgba($border-color, .6); }
    }
  }

  .sub-link {
    color: $gray-600;

    &:hover,
    &:focus { color: $gray-700; }

    &.active { color: $gray-700; }
  }

  .nav-group {
    border-top-color: $border-color;
    border-bottom-color: $border-color;
  }

  .nav-group-label { color: $gray-600; }

  .sidebar-footer {
    background-image: linear-gradient(transparent, rgba(#fff, .5) 50%, #fff);
  }

  .avatar-initial {
    background-color: $gray-800;
    color: #fff;
  }

  .avatar-body {
    h6 { color: $dark; }
    span { color: $gray-600; }
  }

  .footer-menu {
    color: $gray-600;

    &:hover { color: $gray-700; }
  }
}
