
.skin-red {
  background-color: #f7f9fd;

  .sidebar {
    background-color: $color-01;
    @include font-smoothing();

    hr { background-color: lighten($color-01, 5%); }
  }

  .sidebar-logo span {
    background-color: #EA5455;

    &::before,
    &::after { background-color: #F07B3F; }
  }

  .sidebar-logo-text {
    color: $light;
    span { color: #EA5455; }
  }

  .search-body {
    background-color: transparent;
    border-color: rgba($gray-600, .6);

    svg {
      color: $gray-600;
      stroke-width: 1.5px;
    }

    .form-control { color: $light; }
    .form-control::placeholder {
      color: $gray-600;
    }

    &.onfocus {
      background-color: transparent;
      border-color: $gray-600;
    }

    &.onhover {
      border-color: $gray-600;
    }
  }

  .nav-sidebar {
    .nav-item {
      &.active .nav-link {
        color: $color-02;

        svg { color: $color-02; }
      }
    }

    .nav-link {
      color: $gray-600;

      &:hover,
      &:focus {
        color: $gray-500;
      }

      svg { stroke-width: 1.5px; }

      &.active {
        color: $color-02;

        svg { color: $color-02; }
      }
    }

    &.style-one {
      .nav-item.active {
        .nav-link {
          color: #fff;
          background-color: $color-02;

          svg {
            fill: none;
            color: #fff;
          }
        }
      }

      .nav-link {
        color: $gray-600;

        &:hover,
        &:focus {
          background-color: lighten($color-01, 2%);
          color: $gray-500;
        }

        &.active {
          background-color: $color-02;
          color: #fff;

          svg {
            fill: none;
            color: #fff;
          }
        }
      }
    }

    &.style-two {
      .nav-link::before { background-color: $color-02; }
      .sub-link::before { background-color: $gray-400; }
    }

    &.style-three {
      .nav-link::before,
      .nav-link:not(.with-sub)::after {
        background-color: $color-02;
      }

      .sub-link::before { background-color: $gray-400; }
    }

    &.style-two,
    &.style-three {
      .nav-sub::before { border-color: rgba($light, .1); }
    }
  }

  .sub-link {
    color: $gray-600;

    &:hover,
    &:focus { color: $gray-500; }

    &.active { color: $gray-400; }
  }

  .nav-group {
    border-top-color: $gray-700;
    border-bottom-color: $gray-700;
  }

  .nav-group-label { color: $gray-600; }

  .avatar.online::after {
    box-shadow: 0 0 0 2px $color-01;
  }

  .avatar-initial {
    background-color: $color-04;
    color: $color-01;
  }

  .avatar-body {
    h6 { color: $light; }
    span { color: $gray-600; }
  }

  .footer-menu {
    color: $gray-600;

    &:hover { color: $gray-700; }
  }
}
